{% extends "layout.html" %}

{% block title %}Agregar Post{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Agregar Post</h2>
    <form method="post" action="{{ url_for('add_post', thread_id=thread.id) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group">
            <label for="content">Contenido:</label>
            <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="background-color: #45b29d; border-color: #45b29d;">Agregar Post</button>
    </form>
    <a href="{{ url_for('view_thread', thread_id=thread.id) }}" class="btn btn-secondary mt-3">Volver a Hilo</a>
</div>
{% endblock %}
