{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('add_thread') }}" class="btn btn-primary">Add Thread</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Forum</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
                <tr>
                    <td>{{ thread.title }}</td>
                    <td>{{ thread.forum.name }}</td>
                    <td>{{ thread.user.username }}</td>
                    <td>
                        <!-- Actions like Edit/Delete could go here -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
