{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('add_post') }}" class="btn btn-primary">Add Post</a>
    <table class="table">
        <thead>
            <tr>
                <th>Content</th>
                <th>Thread</th>
                <th>User</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.content }}</td>
                    <td>{{ post.thread.title }}</td>
                    <td>{{ post.user.username }}</td>
                    <td>
                        <!-- Actions like Edit/Delete could go here -->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
