{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('add_forum') }}" class="btn btn-primary">Add Forum</a>
    <a href="{{ url_for('add_category') }}" class="btn btn-primary">Add Category</a>
    <table class="table">
        <thead>
            <tr>
                <th><a href="{{ url_for('manage_forums', order='name') }}">Name</a></th>
                <th><a href="{{ url_for('manage_forums', order='description') }}">Description</a></th>
                <th><a href="{{ url_for('manage_forums', order='category_id') }}">Category</a></th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
                <tr>
                    <td>{{ forum.name }}</td>
                    <td>{{ forum.description }}</td>
                    <td>{{ forum.category.name }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
