{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('add_thread', forum_id=forum.id) }}" class="btn btn-primary" style="background-color: #45b29d; border-color: #45b29d;">Agregar Hilo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Título</th>
                <th>Foro</th>
                <th>Usuario</th>
                {% if current_user.role_admin() %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for thread in threads %}
                <tr>
                    <td>{{ thread.title }}</td>
                    <td>{{ thread.forum.name }}</td>
                    <td>{{ thread.user.name }}</td>
                    {% if current_user.role_admin() %}
                    <td>
                        <form action="{{ url_for('delete_thread', thread_id=thread.id) }}" method="post" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres borrar este hilo?')">Borrar</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
