{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    {% if current_user.role_admin() %}
    <a href="{{ url_for('add_category') }}" class="btn btn-primary" style="background-color: #45b29d; border-color: #45b29d;">Agregar Categoría</a>
    <table class="table mt-3">
        <thead>
            <tr>
                <th><a href="{{ url_for('manage_categories', order='name') }}">Nombre</a></th>
                <th><a href="{{ url_for('manage_categories', order='description') }}">Descripción</a></th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <form action="{{ url_for('delete_category', category_id=category.id) }}" method="post" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres borrar esta categoría?')">Borrar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <a href="{{ url_for('manage_forums') }}" class="btn btn-secondary mt-3">Volver a Foros</a>
</div>
{% endblock %}
