{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ title }}</h1>
    <a href="{{ url_for('add_forum') }}" class="btn btn-primary">Agregar Foro</a>
    <a href="{{ url_for('add_category') }}" class="btn btn-primary">Agregar Categoría</a>
    {% if current_user.role_admin() %}
    <a href="{{ url_for('manage_categories') }}" class="btn btn-danger ml-2">Borrar Categoría</a>
    {% endif %}
    <table class="table mt-3">
        <thead>
            <tr>
                <th><a href="{{ url_for('manage_forums', order='name') }}">Nombre</a></th>
                <th><a href="{{ url_for('manage_forums', order='description') }}">Descripción</a></th>
                <th><a href="{{ url_for('manage_forums', order='category_id') }}">Categoría</a></th>
                {% if current_user.role_admin() %}
                <th>Acciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for forum in forums %}
                <tr>
                    <td><a href="{{ url_for('view_forum', forum_id=forum.id) }}">{{ forum.name }}</a></td>
                    <td>{{ forum.description }}</td>
                    <td>{{ forum.category.name }}</td>
                    {% if current_user.role_admin() %}
                    <td>
                        <a href="{{ url_for('edit_forum', forum_id=forum.id) }}" class="btn btn-warning btn-sm">Editar</a>
                        <form action="{{ url_for('delete_forum', forum_id=forum.id) }}" method="post" style="display:inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres borrar este foro?')">Borrar</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
