{% extends "layout.html" %}
{% block title %}Buscar Usuarios{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Buscar Usuarios</h2>
            <form action="{{ url_for('search') }}" method="get" class="mb-4">
                <input type="text" name="q" placeholder="Buscar..." value="{{ query }}" class="form-control">
                <button type="submit" class="btn btn-primary mt-2">Buscar</button>
            </form>
            <ul>
                {% for user in users %}
                    <li>
                        <a href="{{ url_for('user_profile', username=user.name) }}" style="font-weight: bold; font-size: 1.2em;">
                            {{ user.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!-- Enlace para volver al perfil -->
            <div class="text-center mt-4">
                <a href="{{ url_for('web.profile') }}" class="btn btn-secondary">Volver al perfil</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}