{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ thread.title }}</h1>
    <a href="{{ url_for('view_forum', forum_id=thread.forum.id) }}" class="btn btn-secondary mt-3">Volver al Foro</a>
    <div class="posts">
        {% for post in posts %}
        <div class="post-box">
            <div class="post-header">
                <strong>{{ post.user.name }}</strong> - {{ post.created_at.strftime('%Y-%m-%d %H:%M:%S') }}
            </div>
            <div class="post-content">
                <p>{{ post.content }}</p>
            </div>
            <div class="post-actions">
                {% if current_user.role_admin() %}
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post" style="display:inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres borrar este post?')">Borrar</button>
                </form>
                {% endif %}
                <!-- Botón "Responder" para contestar a cada comentario individualmente -->
                <a href="{{ url_for('add_post', thread_id=thread.id) }}" class="btn btn-secondary btn-sm">Responder</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<style>
.post-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.post-header {
    font-weight: normal;
    margin-bottom: 10px;
}
.post-header strong {
    font-weight: bold; /* Ensure the username is bold */
}
</style>
{% endblock %}
