.fontSizeWrapper {
    position: relative;
}
.slider {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 90%;
    height: 60px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}
.slider label {
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    padding-right: 10px;
    color: white;
}
.slider input[type="range"] {
    width: 80%;
    height: 5px;
    background: black;
    border: none;
    outline: none;
}

.item {
    font-size: 20px;
    font-weight: 400;
    font-family: Open Sans;
    padding-right: 10px;
    color: white;
}

.item~button {
    display: inline-block;
    border: none;
    text-align: center;
    text-decoration: none;
    margin-top: 5%;
    margin-right: 1%;
    font-size: 16px;
}

#progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #ccc;
    border-radius: 5px;
    width: 80%; /* Ajusta el ancho al 80% del contenedor */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#current-time,
#total-time {
    font-size: 14px;
    margin: 0 10px;
    /*color: #333;*/
    font-family: Arial, sans-serif;
}

#progress-bar {
    flex: 1;
    margin: 0 5px;
    height: 4px;
    background: black;
}

/* NUEVO */
#audio-toggle {
    margin-right: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

#audio-toggle svg {
    width: 24px;
    height: 24px;
}